node_modules
.cache
.DS_Store
*.env
bin
out
.vscode
./build.js
fullstacked_modules/@types
core/internal/bundle/lib/@types
core/internal/bundle/lib/**/*.js
test/**/_index.ts.js
test/**/_index.ts.css
!test/static-file/sample/_index.ts.js
test/**/test