[submodule "demo"]
	path = demo
	url = https://github.com/fullstackedorg/demo.git
[submodule "editor"]
	path = editor
	url = https://github.com/fullstackedorg/editor.git
[submodule "core/typescript-go"]
	path = core/typescript-go
	url = https://github.com/microsoft/typescript-go.git
[submodule "app"]
	path = app
	url = https://github.com/fullstackedorg/app.git
