[submodule "app/shell"]
	path = app/shell
	url = https://github.com/fullstackedorg/shell.git
[submodule "app/demo"]
	path = app/demo
	url = https://github.com/fullstackedorg/demo.git
[submodule "plugins/tailwindcss"]
	path = plugins/tailwindcss
	url = https://github.com/fullstackedorg/tailwindcss.git
[submodule "plugins/sass"]
	path = plugins/sass
	url = https://github.com/fullstackedorg/sass.git
[submodule "app/expected-keyboard"]
	path = app/expected-keyboard
	url = https://github.com/fullstackedorg/expected-keyboard
