.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    margin-left: -20px;
}
.top-bar > div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.top-bar > div:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    flex: 1 1 0%;
}
.top-bar > div:first-child .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
}
.top-bar > div:first-child .titles > * {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top-bar.no-back {
    width: 100%;
    margin-left: 0px;
}
